@{
    ViewBag.Title = "Customizable Charts";
    ViewBag.activeNav = 4;
}


<div class="container" style="margin-bottom: 10px;">
    <div style="display: inline;">
        <div style="display: inline-block;">
            <select>
                <option value="0">Birth Weight</option>
                <option value="1">Gestational Age</option>
                <option value="2">Birth Date</option>
                <option value="3">Birth Location</option>
                <option value="4">Outborn Days</option>
                <option value="5">Antenatal Consult</option>
                <option value="6">Pregnancy Substances</option>
                <option value="7">Mother Toxicology Screen</option>
                <option value="8">Mother Toxicology Results</option>
                <option value="9">Infant Toxicology Screen</option>
                <option value="10">Infant Toxicology Results</option>
                <option value="11">NAS Diagnosis</option>
                <option value="12">NAS Score</option>
                <option value="13">Infant Pharmacology Agents</option>
                <option value="14">Total Pharmacology Length</option>
                <option value="15">Pharmacology Last Dose Interval</option>
                <option value="16">Infant Discharge Meds?</option>
                <option value="17">Infant Discharge Medications</option>
                <!-- ^^ infant med check -->
            </select>
        </div>
        <div style="display: inline-block;"></div>
    </div>
</div>

<script src="../../Scripts/Chart.js" type="text/javascript"></script>
<script src="../../Scripts/d3.js" type="text/javascript"></script>

<script type="text/javascript">
</script>