@{
    ViewBag.Title = "Customizable Charts (CSV)";
    ViewBag.activeNav = 4;
}

@section cssSection {
    <link href="../../StyleSheets/charts.css" rel="stylesheet" type="text/css" />
    <link href="../../StyleSheets/plot.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
	    html { height: 100%; }
		body { height: 100%; }
		#main { height: 100%; }

		.hidden { display: none; }

		.chart-container { margin-left: auto; margin-right: auto; }

		svg:not(:root) { overflow: visible; }
	</style>
}


<div id="main" class="container" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-12">
            Choose CSV File <input type="file" id="csvfile" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Select Chart Type:
        </div>
        <div class="col-md-3">
            Select Variable 1 (Y-Axis)
        </div>
        <div class="col-md-3">
            Select Variable 2 (X-Axis)
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <select id="chartTypeDrop" class="form-control">
                <option value="0">Select One</option>
                <option value="1">Run Chart</option>
                <option value="2">Box Plot</option>
                <option value="3">Funnel Chart</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="yDataDrop" class="form-control dataDrop">
                <option value="0">Select One</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="xDataDrop" class="form-control dataDrop">
                <option value="0">Select One</option>
            </select>
            <select id="xDataDrop2" class="form-control dataDrop" multiple>
            </select>
        </div>
        <div class="col-md-3">
            <input type="submit" id="submitBtn" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chartDiv"></div>
        </div>
    </div>
</div>

@section jsSection {
    <script src="../../Scripts/underscore.js" type="text/javascript"></script>
    <script src="../../Scripts/underscore.math.js" type="text/javascript"></script>
    <script src="../../Scripts/Chart.js" type="text/javascript"></script>
	<script src="../../Scripts/d3.v3.js" type="text/javascript"></script>
	<script src="../../Scripts/box.js" type="text/javascript"></script>

	<script type="text/javascript">
	    $(document).ready(function () {

	        var margin = { top: 20, right: 100, bottom: 30, left: 50 };
	        var width = 960 - margin.left - margin.right;
	        var height = 500 - margin.top - margin.bottom;


	        Math.mean = function (array) {
	            return array.reduce(function (a, b) { return a + b; }) / array.length;
	        };

	        Math.stdev = function (array, opts) {
	            var avg = 0.0;

	            if (opts['avg']) {
	                avg = parseFloat(opts['avg']);
	            } else {
	                avg = Math.mean(array);
	            }

	            var variance = array.map(function (itm) { return (itm - avg) * (itm - avg); });

	            return Math.sqrt(variance.reduce(function (a, b) { return a + b; }) / array.length);
	        };

	        // Draw Run Chart Function - passed data and control limits
	        function drawRunChart(data, ucl, lcl, label) {
	            //var X_DATA_PARSE = d3.time.format("%d-%b-%y").parse;
	            var X_DATA_PARSE = d3.time.format("%m/%d/%Y").parse;

	            var Y_DATA_PARSE = 0;

	            // This is the key in the data object passed to draw function
	            var X_AXIS_COLUMN = "date";

	            // This is the key in the data object passed to draw function
	            var Y_AXIS_COLUMN = "val";

	            var x = d3.time.scale()
	     	             .range([0, width]);

	            var y = d3.scale.linear()
	     	             .range([height, 0]);

	            var xAxis = d3.svg.axis()
	     	                 .scale(x)
	     	   			     .orient("bottom");

	            var yAxis = d3.svg.axis()
	     	                 .scale(y)
	     	   			     .orient("left");

	            var line = d3.svg.line()
	     	                .interpolate("basis")
	     	   	    		.x(function (d) { return x(d.x_axis); })
	     	   				.y(function (d) { return y(d.y_axis); });

	            var svg = d3.select("div#chartDiv").append("svg")
	     	                .attr("width", width + margin.left + margin.right)
	     	   	    		.attr("height", height + margin.top + margin.bottom)
	     	   				.append("g")
	     	   				.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	            data.forEach(function (d) {
	                d.x_axis = X_DATA_PARSE(d[X_AXIS_COLUMN]);

	                //d.y_axis = Y_DATA_PARSE(d[Y_AXIS_COLUMN]);
	                d.y_axis = d[Y_AXIS_COLUMN] + 0;
	            });

	            // create another data variable to include ucl and lcl in domains
	            var dataCopy = data.slice(0);
	            //console.log("ucl = ", ucl);

	            dataCopy.push({ x_axis: "", y_axis: ucl + 0 });
	            dataCopy.push({ x_axis: "", y_axis: lcl + 0 });

	            //console.log("data copy = ", dataCopy);
	            //console.log("data = ", data);

	            x.domain(d3.extent(data, function (d) { return d.x_axis; }));
	            //y.domain(d3.extent(data, function (d) { return d.y_axis; }));
	            y.domain(d3.extent(dataCopy, function (d) { return d.y_axis; }));

	            svg.append("g")
	               .attr("class", "x axis")
	        	   .attr("transform", "translate(0," + height + ")")
	        	   .call(xAxis);

	            svg.append("g")
	               .attr("class", "y axis")
	      		   .call(yAxis)
	               .append("text")
	               .attr("transform", "rotate(-90)")
	      		   .attr("y", 6)
	      		   .attr("dy", ".71em")
	      		   .style("text-anchor", "end")
	      		   .text(label);

	            svg.append("path")
	               .datum(data)
	      		   .attr("class", "line")
	      		   .attr("d", line);

	            // upper limit line
	            //var upper_limit = 15;
	            //console.log("ucl = ", ucl);
	            var upper_limit = ucl;
	            svg.append("line")
	               .attr("class", "limit-line")
	    		   .attr({ x1: 0, y1: y(upper_limit), x2: width, y2: y(upper_limit) });
	            svg.append("text")
	               .attr({ x: width + 5, y: y(upper_limit) + 4 })
	    		   .text("Upper Limit");

	            // lower limit line
	            //var lower_limit = 6;
	            var lower_limit = lcl;
	            svg.append("line")
	               .attr("class", "limit-line")
	    		   .attr({ x1: 0, y1: y(lower_limit), x2: width, y2: y(lower_limit) });
	            svg.append("text")
	               .attr({ x: width + 5, y: y(lower_limit) + 4 })
	    		   .text("Lower Limit");
	        }

	        // Function to Calculate Error Bars for Box and Whisker Plot
	        function iqr(k) {
	            return function (d, i) {
	                var q1 = d.quartiles[0];
	                var q3 = d.quartiles[2];
	                var iqr = (q3 - q1) * k;
	                var i = -1;
	                var j = d.length;

	                while (d[++i] < q1 - iqr);
	                while (d[--j] > q3 + iqr);
	                return [i, j];
	            }
	        }

	        // Draw Box Plot function - passed data
	        function drawBoxPlot(data, min, max, title) {
	            var labels = true;

	            //var margin = { top: 30, right: 50, bottom: 90, left: 50 };
	            //var width = 960 - margin.left - margin.right;
	            //var height = 500 - margin.top - margin.bottom;

	            // Parse through data
	            // Convert all to integers Math.floor()

	            var chart = d3.box()
	                .whiskers(iqr(1.5))
	                .height(height)
	                .domain([min, max])
	                .showLabels(labels);

	            var svg = d3.select('div#chartDiv')
	                        .append("svg")
	                        .attr('width', width + margin.left + margin.right)
	                        .attr('height', height + margin.top + margin.bottom)
	                        .attr('class', 'box')
	                        .append('g')
	                        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

	            var x = d3.scale.ordinal()
	                            .domain(data.map(function (d) { return d[0] }))
	                            .rangeRoundBands([0, width], 0.7, 0.3);

	            var xAxis = d3.svg.axis()
	                              .scale(x)
	                              .orient('bottom')

	            var y = d3.scale.linear()
	                            .domain([min, max])
	                            .range([height + margin.top, 0 + margin.top]);

	            var yAxis = d3.svg.axis()
	                              .scale(y)
	                              .orient('left');

	            // draw box plots
	            svg.selectAll('.box')
	                    .data(data)
	                    .enter()
	                    .append('g')
	                    .attr("transform", function (d) { return "translate(" + x(d[0]) + "," + margin.top + ")"; })
	                    .call(chart.width(x.rangeBand()));

	            // draw title
	            svg.append('text')
	                    .attr("x", width / 2)
	                    .attr("y", 0 + (margin.top / 2))
	                    .attr("text-anchor", "middle")
	                    .style("font-size", '18px')
	                    .text(title.yAxis + " vs. " + title.xAxis);

	            // draw y-axis
	            svg.append('g')
	                    .attr('class', 'y axis')
	                    .call(yAxis)
	                    .append('text')
	                    .attr('transform', 'rotate(-90)')
	                    .attr('y', -50)
	                    .attr('x', -(height / 2))
	                    .attr('dy', '.71em')
	                    .style('text-anchor', 'end')
	                    .style('font-size', '16px')
	                    .text(title.yAxis);

	            // draw x-axis
	            svg.append('g')
	                    .attr('class', 'x axis')
	                    .attr('transform', 'translate(0,' + (height + margin.top + 15) + ')')
	                    .call(xAxis)
	                    .append('text')
	                    .attr('x', width / 2)
	                    .attr('y', 85)
	                    .attr('dy', '.71em')
	                    .style('text-anchor', 'middle')
	                    .style('font-size', '16px')
	                    .text(title.xAxis);


	            $("g.x g.tick text").map(function () {
	                // translation formula:
	                // y = 0.4932x + 11.422
	                var translation = $(this).width() * 0.4932 + 11.422;
	                $(this).attr("transform", "rotate(90), translate(" + translation + ", -15)");

	                //console.log("translation = ", translation);

	                return;
	            });

	            // Transform X-Axis Labels
	            //var xLabelsArray = $("g.x g.tick text").map(function () { return $(this).width(); }).get();
	            //var len = xLabelsArray.length;
	            //var xLabelTransform = [];

	            //$("g.x g.tick text").attr("transform", "rotate(90), translate(" + val + ", -15)");

	        }

	        // drawFunnelPlot helper function
	        //  --- Sorts dataset by population size
	        function compare(a, b) {
	            if (a.sample_size < b.sample_size)
	                return -1;
	            if (a.sample_size > b.sample_size)
	                return 1;
	            return 0;
	        }

	        function drawFunnelPlot(dataset, sorted_names, mean_incidence_rate, title) {
	            // Draw the graph
	            $("#chartDiv").empty();

	            //var w = width;
	            //var h = height;
	            var padding = 30;

	            var svg = d3.select("#chartDiv").append("svg")
            	            .attr("width", width)
            	            .attr("height", height)
	            var tooltip = d3.select('body').append('div')
            	            .attr('class', 'tooltip')
            	            .style('opacity', 1e-6);
	            var max_x = d3.max(dataset, function (d) {
	                return d['sample_size'];
	            });
	            var min_x = d3.min(dataset, function (d) {
	                return d['sample_size'];
	            });

	            // Create scale functions
	            var xScale = d3.scale.linear()
            	               .domain([0, max_x])
            	               .range([padding, width - padding * 2]);
	            var yScale = d3.scale.linear()
            	               .domain([0, d3.max(dataset, function (d) { return d3.max([d['ratio'], d['plus_3sd']]); })])
            	               .range([height - padding, padding]);

	            // Draw axes and axis labels
	            var formatAsPercentage = d3.format("%");
	            var xAxis = d3.svg.axis()
            	              .scale(xScale)
            	              .orient("bottom")
            	              .ticks(5)
            	              .tickSize(4, 0, 0);
	            var yAxis = d3.svg.axis()
            	              .scale(yScale)
            	              .orient("left")
            	              .ticks(5)
            	              .tickSize(4, 0, 0)
            	              .tickFormat(formatAsPercentage);
	            svg.append("g")
            	   .attr("class", "axis")
            	   .attr("transform", "translate(0," + (height - padding) + ")")
            	   .call(xAxis);
	            svg.append("g")
            	   .attr("class", "axis")
            	   .attr("transform", "translate(" + padding + ", 0)")
            	   .call(yAxis);

	            $("#x-axis-label").text("X-Axis Label");
	            $("#y-axis-label").text("Y-Axis Label");
	            $("#x-axis-label").css('top', (height - 10) + 'px').css('left', (width - 100) + 'px');

	            // Draw Confidence Intervals
	            var confidence3sd_lower = d3.svg.line()
            	                            .x(function (d) { return xScale(d['sample_size']); })
            	                            .y(function (d) {
            	                                if (d['minus_3sd'] < 0.0) {
            	                                    return yScale(0);
            	                                } else {
            	                                    return yScale(d['minus_3sd']);
            	                                }
            	                            })
            	                            .interpolate("linear");
	            var confidence3sd_upper = d3.svg.line()
            	                            .x(function (d) {
            	                                return xScale(d['sample_size']);
            	                            })
            	                            .y(function (d) {
            	                                return yScale(d['plus_3sd']);
            	                            })
            	                            .interpolate("linear");
	            var confidence2sd_lower = d3.svg.line()
            	                            .x(function (d) {
            	                                return xScale(d['sample_size']);
            	                            })
            	                            .y(function (d) {
            	                                if (d['minus_2sd'] < 0.0) {
            	                                    return yScale(0);
            	                                } else {
            	                                    return yScale(d['minus_2sd']);
            	                                }
            	                            })
            	                            .interpolate("linear");
	            var confidence2sd_upper = d3.svg.line()
            	                            .x(function (d) {
            	                                return xScale(d['sample_size']);
            	                            })
            	                            .y(function (d) {
            	                                return yScale(d['plus_2sd']);
            	                            })
            	                            .interpolate("linear");
	            svg.append("svg:path")
            	   .attr("d", confidence2sd_upper(dataset))
            	   .attr("class", "confidence95");
	            svg.append("svg:path")
            	   .attr("d", confidence2sd_lower(dataset))
            	   .attr("class", "confidence95");
	            svg.append("svg:path")
            	   .attr("d", confidence3sd_upper(dataset))
            	   .attr("class", "confidence99");
	            svg.append("svg:path")
            	   .attr("d", confidence3sd_lower(dataset))
            	   .attr("class", "confidence99");

	            //$("#confidence-label").css('left', (w - 100) + 'px');


	            // Draw line to indicate mean.
	            svg.append("svg:line")
            	   .attr("x1", xScale(min_x))
            	   .attr("y1", yScale(mean_incidence_rate))
            	   .attr("x2", xScale(max_x))
            	   .attr("y2", yScale(mean_incidence_rate))
            	   .style("stroke", "rgba(6, 120, 155, 0.6)")
            	   .style("stroke-width", 1)
            	   .on("mouseover", function (d, i) {
            	       $('div.tooltip').show();
            	       tooltip.transition().duration(100).style("opacity", 1);
            	   }).on("mousemove", function () {
            	       var divHtml = '<h4>Mean Value</h4>';
            	       var left_position = (d3.event.pageX - 2) + "px";
            	       tooltip.html(divHtml).style("left", left_position).style('top', (d3.event.pageY - 80) + "px");
            	   }).on("mouseout", function (d, i) {
            	       tooltip.transition().duration(100).style("opacity", 1e-6);
            	   });

	            // Create Circles
	            svg.selectAll("circle")
            	   .data(dataset)
            	   .enter()
            	   .append("circle")
            	   .attr("fill", "rgba(22, 68, 81, 0.6)")
            	   .attr("cx", function (d) {
            	       return xScale(d['sample_size']);
            	   })
            	   .attr("cy", function (d) {
            	       return yScale(d['ratio']);
            	   })
            	   .attr("name", function (d) {
            	       return $.inArray(d['date'], sorted_names);
            	   })
            	   .attr("r", 5)
            	   .on("mouseover", function (d, i) {
            	       $("div.tooltip").show();
            	       tooltip.transition().duration(100).style("opacity", 1);
            	   }).on("mousemove", function (d, i) {
            	       var divHtml = '<h4>' + d['date'] + '</h4>';
            	       divHtml += '<strong>Population: </strong> ' + d['sample_size'] + '<br/>';
            	       divHtml += '<strong>Percentage: </strong> ' + (d['ratio'] * 100).toFixed(2) + '%';

            	       if ($(window).width() - d3.event.pageX < 160) {
            	           var left_position = (d3.event.pageX - 155) + "px";
            	       } else {
            	           var left_position = (d3.event.pageX - 2) + "px";
            	       }
            	       tooltip.html(divHtml).style("left", left_position).style("top", (d3.event.pageY - 80) + "px");
            	   }).on("mouseout", function (d, i) {
            	       tooltip.transition().duration(100).style("opacity", 1e-6);
            	   });

	            // Select DropDown
	            /*
	            var select_html = '<option value=""></option>';
	            $.each(sorted_names, function (i, v) {
	            select_html += '<option value="' + i + '">' + v + '</option>';
	            });
	            $("#select-entry").html(select_html);
	            $("#select-entry").change(function (e) {
	            // Clear Existing Circles
	            d3.select('circle').transition().transition(2).attr("r", 5);
	            // Highlight the circle with the same name val
	            var circle = d3.select('circle[name="' + $(this).val() + '"]');
	            circle.transition().duration(800).attr("r", 10);
	            });
	            */

	            // Show the graph
	        }

	        var $body = $("body");
	        var bodyHeight = $body.height();
	        var $chartDiv = $("#chartDiv");

	        var $chartTypeDrop = $("#chartTypeDrop");
	        var $yDataDrop = $("#yDataDrop");
	        var $xDataDrop = $("#xDataDrop");
	        var $xDataDrop2 = $("#xDataDrop2");

	        var csvArray = [];
	        var titles = [];

	        $chartTypeDrop.change(function () {
	            // if selecting BoxPlot, show proper drop downs
	            if ($(this).val() == 2) {
	            }
	        });

	        $("#csvfile").change(function (e) {
	            if (e.target.files != undefined) {
	                var reader = new FileReader();

	                reader.onload = function (e) {
	                    var str = e.target.result;
	                    csvArray = d3.csv.parseRows(str);

	                    titles = csvArray[0];
	                    csvArray.splice(0, 1);
	                    var title_html = '';
	                    var label_html = '';
	                    _.each(titles, function (item, i) {
	                        //console.log(item, i);
	                        title_html += '<option value="' + i + '">' + item + '</option>';
	                        label_html += '<option value="' + item + '">' + item + '</option>';
	                    });
	                    title_html = '<option value="">Select One</option>' + title_html;
	                    //console.log("title_html = ", title_html);

	                    $(".dataDrop").html(title_html);
	                    $(".dataLabelDrop").html(label_html);
	                };

	                reader.readAsText(e.target.files.item(0));
	            }
	        });

	        $("#submitBtn").click(function (e) {
	            e.preventDefault();

	            var chartType = parseInt($chartTypeDrop.val());
	            $chartDiv.empty();

	            if (chartType == 1) {           // Draw Run Chart
	                var dataset = [];

	                var Y_COL = $yDataDrop.val();
	                var X_COL = $xDataDrop.val();
	                var avg_sum = 0;
	                var variance_sum = 0;

	                _.each(csvArray, function (item, i) {
	                    var num = parseInt(item[Y_COL]);
	                    var dte = item[X_COL];

	                    if ((num !== '') && (typeof num !== "undefined") && (dte !== '') && (typeof dte !== "undefined")) {
	                        var dataObj = { date: dte, val: num };
	                        dataset.push(dataObj);

	                        avg_sum = avg_sum + num;
	                    }
	                });

	                //var avg = _.reduce(dataset, function (memo, ob) { return memo + ob['val']; }) / dataset.length;
	                var avg = avg_sum / dataset.length;

	                //var variance = _.reduce(dataset, function (memo, ob) {
	                //    return ((ob['val'] - avg) * (ob['val'] - avg)) + memo;
	                //}) / dataset.length;

	                _.each(dataset, function (o, i) {
	                    variance_sum = variance_sum + ((o.val - avg) * (o.val - avg));
	                });

	                var variance = variance_sum / dataset.length;

	                var stdev = Math.sqrt(variance);

	                //var avg = calcAvg(dataset);
	                //var stdev = calcStDev(dataset);
	                var ucl = avg + (3 * stdev);
	                var lcl = avg - (3 * stdev);
	                if (lcl < 0) lcl = 0;

	                // Sort data by date
	                console.log("dataset (before sorting) = ", dataset);
	                dataset = _.sortBy(dataset, function (o) { var dt = new Date(o.date); return dt; });

	                drawRunChart(dataset, ucl, lcl, "Y-Axis Label");
	                console.log("dataset = ", dataset);
	                console.log("avg = ", avg);
	                console.log("ucl = ", ucl);
	                console.log("lcl = ", lcl);
	                console.log("variance = ", variance);
	                console.log("stdev = ", stdev);

	            } else if (chartType == 2) {    // Draw Box Plot 
	                var dataset = [];

	                // Get Selected Parameters
	                var Y_COL = $yDataDrop.val();
	                var X_COL = $xDataDrop2.val();

	                _.each(X_COL, function (item, i) {
	                    // Create X-Axis Label
	                    var labelText = $xDataDrop2.find("option[value='" + item + "']").text();
	                    var labelTextArr = labelText.split(/\(choice=(.*)\)/);
	                    labelText = labelTextArr[1];

	                    // Format dataset
	                    dataset[i] = [];
	                    dataset[i][0] = labelText;
	                    dataset[i][1] = [];
	                });

	                var max = -Infinity;
	                var min = Infinity;

	                // format data
	                _.each(csvArray, function (item, i) {
	                    var num = parseInt(item[Y_COL]);
	                    if ((num !== '') && (typeof num !== "undefined")) {
	                        _.each(X_COL, function (header, i) {
	                            if (item[header] == "Checked") {
	                                dataset[i][1].push(num);
	                                if (num > max) max = num;
	                                if (num < min) min = num;
	                            }
	                        });
	                    }
	                });
	                //console.log("dataset = ", dataset);

	                // Need a better way to define X- and Y- axis labels
	                var titleObj = { yAxis: $yDataDrop.find("option[value='" + Y_COL + "']").text(), xAxis: $xDataDrop2.find("option[value='" + X_COL[0] + "']").text() };

	                drawBoxPlot(dataset, min, max, titleObj);

	                var chartHeight = $chartDiv.height();
	                $body.height(bodyHeight + (chartHeight / 2));

	            } else if (chartType == 3) {	// Draw Funnel Plot 
	                var funnelData = [];

	                //var Y_COL = $yDataDrop.val();
	                //var X_COL = $xDataDrop.val();
	                var Y_COL = 63;
	                var X_COL = 1;

	                var total_population = 0;
	                var incidence_population = 0;
	                var sample_size = 0;
	                var incidences = 0;

	                // sort csv by date
	                csvArray = _.sortBy(csvArray, function (item, i) { var dt = new Date(item[X_COL]); return dt; });

	                var jsFirstDate = new Date(csvArray[0][X_COL]);
	                var firstDate = (jsFirstDate.getMonth() + 1) + "/" + jsFirstDate.getFullYear();

	                funnelData[0] = { sample_size: 0, indicator: 0, date: firstDate, ratio: 0 };

	                _.each(csvArray, function (item, i) {
	                    var indicator = item[Y_COL];
	                    var jsDate = new Date(item[X_COL]);
	                    var dte = (jsDate.getMonth() + 1) + "/" + jsDate.getFullYear();
	                    var size = funnelData.length;

	                    if ((indicator !== '') && (typeof indicator !== "undefined") && (jsDate !== '') && (typeof jsDate !== "undefined")) {
	                        if (dte == funnelData[size - 1].date) {
	                            sample_size++;
	                            total_population++;
	                            if (indicator == "Yes") {
	                                incidences++;
	                                incidence_population++;
	                            }
	                        }
	                        else {
	                            funnelData[size - 1].sample_size = sample_size;
	                            funnelData[size - 1].indicator = incidences;
	                            funnelData[size - 1].ratio = incidences / sample_size;

	                            sample_size = 1;
	                            incidences = 0;
	                            funnelData.push({ sample_size: 0, indicator: 0, date: dte, ratio: 0 });

	                            if (indicator == "Yes") {
	                                incidences++;
	                                incidence_population++;
	                            }
	                            total_population++;
	                        }
	                    }
	                });

	                var size = funnelData.length;

	                funnelData[size - 1].sample_size = sample_size;
	                funnelData[size - 1].indicator = incidences;
	                funnelData[size - 1].ratio = incidences / sample_size;

	                console.log("funnelData (before calculating control limits) = ", funnelData);

	                // Calculate mean incidence over entire population
	                var mean_incidence_rate = incidence_population / total_population;
	                var mean_incidence = incidence_population / size;

	                var sigma_squared = mean_incidence_rate * (1 - mean_incidence_rate);

	                // Create Alphabetical List of Labels
	                var sorted_names = [];
	                _.each(funnelData, function (item) {
	                    sorted_names.push(item["date"]);
	                });
	                //sorted_names.sort();

	                // Sorts dataset by population size for drawing confidence intervals
	                funnelData.sort(compare);

	                // Calculate standard error for each value: SE = SD / sqrt(n)
	                //  ---Creating Control Limits/Confidence Intervals
	                _.each(funnelData, function (item) {
	                    item['std_error'] = Math.sqrt(sigma_squared / item['sample_size']);
	                    item['plus_2sd'] = mean_incidence_rate + (2 * item['std_error']);
	                    item['minus_2sd'] = mean_incidence_rate - (2 * item['std_error']);
	                    item['plus_3sd'] = mean_incidence_rate + (3 * item['std_error']);
	                    item['minus_3sd'] = mean_incidence_rate - (3 * item['std_error']);
	                });
	                console.log("funnelData (after calculating control limits) = ", funnelData);

	                drawFunnelPlot(funnelData, sorted_names, mean_incidence_rate, "Chart Title?");
	            }
	        });

	    });
	</script>
}