<!--
 * Dashboard.html
 *
 * by Justin Ratra
 */
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Northeastern University - NAS Dashboard</title>
        <!--
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        -->
        <meta name="viewport" content="width=device-width" />

        <link href="./css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="./css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
        <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="./css/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <link href="./css/charts.css" rel="stylesheet" type="text/css" />
    	<link href="./css/plot.css" rel="stylesheet" type="text/css" />
        <link href="./css/navmenu.css" rel="stylesheet" type="text/css" />

        <script src="./js/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="./js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="./js/bootstrap.js" type="text/javascript"></script>
        <script src="./js/randomColor.min.js" type="text/javascript"></script>
    	<script src="./js/underscore.js" type="text/javascript"></script>
    	<script src="./js/underscore.math.js" type="text/javascript"></script>
    	<script src="./js/Chart.js" type="text/javascript"></script>
		<script src="./js/d3.v3.js" type="text/javascript"></script>
		<script src="./js/box.js" type="text/javascript"></script>
        <script src="./js/dashboard.js" type="text/javascript"></script>
        <script src="./js/drawCharts.js" type="text/javascript"></script>

    	<style type="text/css">
		    html { height: 100%; }
			body { height: 100%; }

			#main { height: 100%; }
			.hidden { display: none; }
			.chart-container { margin-left: auto; margin-right: auto; }
			svg:not(:root) { overflow: visible; }
		</style>
    </head>
    <body>
    <span id="hidden-span" style="display:none;"></span>
<!-- Nav Bar Start -->
        <nav class="navbar navbar-default" role="navigation">
            <div id="navbar-container" class="container-fluid">
                <div class="collapse navbar-collapse">
                    <a class="navbar-brand" href="#">
                        <img id="navbar-brand-image" src="./img/NeoQIC_icon_126_59.gif" height="59" width="126" />
                    </a>
                    <ul id="navbar-items" class="nav navbar-nav">
                        <li class="selected"><a href="#">Home</a></li>
                        <li><a href="#">My Hospital Report</a></li>
                        <li><a href="#">Massachussets Hospital Reports</a></li>
                        <li><a href="#">Customizable Charts</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="printBtn"><a href="#">Print Page</a></li>
                    </ul>
                </div> 
            </div>     
        </nav>
<!-- Nav Bar End -->

<!-- Home Tab Start -->
        <div id="home-tab" class="container">
			<div class="row">
			    <div class="col-md-12">
                    <h3>Upload a CSV File to Begin!</h3>
                    <br />
                    <input type="file" id="csvfile" />
			    </div>
			</div>
			<div id="select-hid-row" class="row" style="display:none;">
			    <div class="col-md-12">
                    <h4>Select Your Hospital ID:</h4>
                    <select id="hidSelect"></select>
			    </div>
			</div>
    	        <!--

    	    After uploading a file, 
            Ask user to identify which Hospital ID corresponds to them.
            if creating Local and Regional Dashboards fails (check if values are of right type)
    	    then ask the user to clarify certain columns.

    	        -->
    	</div>
<!-- Home Tab End -->

<!-- Local Tab Start -->
        <div id="local-tab" class="container">
            <div class="row">
    		    <div class="col-md-6">
    		        <div class="chart-container">
    					<div id="localChartDiv1" class="chartDiv"></div>
    				</div>
    		    </div>
    		    <div class="col-md-6">
    				<div class="chart-container">
    					<div id="localChartDiv2" class="chartDiv"></div>
    				</div>
    		    </div>
    		</div>
    		<div class="row">
    		    <br />
    		    <br />
    		</div>
    		<div class="row">
    		    <div class="col-md-6">
    		        <div class="chart-container">
    					<div id="localChartDiv3" class="chartDiv"></div>
    				</div>
    		    </div>
    		    <div class="col-md-6">
    			    <div class="chart-container">
    					<div id="localChartDiv4" class="chartDiv"></div>
    				</div>
    		    </div>
    		</div>
    	</div>
<!-- Local Tab End -->

<!-- Regional Tab Start -->
        <div id="regional-tab" class="container">
            <div class="row">
    		    <div class="col-md-12">
    		        <div class="chart-container">
    					<div id="regionChartDiv1" class="chartDiv"></div>
    				</div>
    		    </div>
    		</div>
    		<div class="row">
    		    <br />
    		    <br />
    		</div>
    		<div class="row">
    		    <div class="col-md-12">
    		        <div class="chart-container">
    					<div id="regionChartDiv2" class="chartDiv"></div>
    				</div>
    		    </div>
    		</div>
    	</div>
<!-- Regional Tab End -->

<!-- Customize Tab Start -->
        <div id="customize-tab" class="container" style="margin-bottom: 10px;">
		    <div class="row">
		        <div class="col-md-12">
		            <br />
		            <br />
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-md-3">
		            Select Chart Type:
		        </div>
		        <div class="col-md-3">
		            Select Variable 1 (Y-Axis)
		        </div>
		        <div class="col-md-3">
		            Select Variable 2 (X-Axis)
		        </div>
		        <div class="col-md-3">
		        </div>
		    </div>
		    <!-- Select Chart Attributes Row -->
		    <div class="row">
		        <div class="col-md-3">
		            <select id="chartTypeDrop" class="form-control">
		                <option value="0">Select One</option>
		                <option value="1">Run Chart</option>
		                <option value="2">Box Plot</option>
		                <option value="3">Funnel Plot</option>
		                <option value="4">Bar Chart</option>
		            </select>
		        </div>
		        <div class="col-md-3">
		            <select id="yDataDrop" class="form-control dataDrop">
		                <option value="0">Select One</option>
		            </select>
		        </div>
		        <div class="col-md-3">
		            <select id="xDataDrop" class="form-control dataDrop">
		                <option value="0">Select One</option>
		            </select>
		            <div id="multipleXData">
		                <select id="xDataDrop2" class="form-control dataDrop" multiple>
		            	</select>
		            </div>
		            <div id="dateXData">
		                Start:&emsp;<input id="startDateText" type="text" class="date-text" /><br />
		                End:&emsp;&nbsp;<input id="endDateText" type="text" class="date-text" /><br />
		                &emsp;&emsp;&emsp;
		                <input id="monthRadio" type="radio" name="date-radio" value="month" /> Month 
		                &emsp;
		                <input id="yearRadio" type="radio" name="date-radio" value="year" /> Year 
		            </div>
		        </div>
		        <div class="col-md-3">
		            <input type="submit" id="submitBtn" />
		        </div>
		    </div>
		    <!-- Enter Chart Labels Row -->
		    <div class="row">
		        <div class="col-md-3">
		            <input id="chartTitleText" placeholder="Chart Title" class="form-control" />
		        </div>
		        <div class="col-md-3">
		            <input id="yAxisTitleText" placeholder="Y-Axis Title" class="form-control" />
		        </div>
		        <div class="col-md-3">
		            <input id="xAxisTitleText" placeholder="X-Axis Title" class="form-control" />
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-md-1"> </div>
		        <div class="col-md-10">
		            <div id="chartDiv"></div>
		        </div>
		        <div class="col-md-1"> </div>
		    </div>
		</div>
<!-- Customize Tab End -->

	<script type="text/javascript">
	    $(document).ready(function () {
	        var $homeTab = $("#home-tab");
	        var $localTab = $("#local-tab");
	        var $regionalTab = $("#regional-tab");
	        var $customizeTab = $("#customize-tab");

	        var $tabs = [$homeTab, $localTab, $regionalTab, $customizeTab];

	        $localTab.hide();
	        $regionalTab.hide();
	        $customizeTab.hide();

	        //$("#select-hid-row").hide();

	        // Handle Switching Tabs
	        function switchTab(i) {
	            for (var j = 0; j < 4; j++) {
	                if (j == i) {
	                    $("ul.nav > li:nth-child(" + (j + 1) + ")").addClass("selected");
	                    $tabs[j].show();
	                }
	                else {
	                    $("ul.nav > li:nth-child(" + (j + 1) + ")").removeClass("selected");
	                    $tabs[j].hide();
	                }
	            }
	        }

	        // Handle Switching Tabs
	        $("ul.nav > li").click(function (e) {
	            e.preventDefault();

	            switchTab($(this).index());
	        });


	        var $body = $("body");
	        var bodyHeight = $body.height();
	        var $chartDiv = $("#chartDiv");

	        var $chartTypeDrop = $("#chartTypeDrop");
	        var $yDataDrop = $("#yDataDrop");
	        var $xDataDrop = $("#xDataDrop");
	        var $xDataDrop2 = $("#xDataDrop2");
	        var $chartTitleText = $("#chartTitleText");
	        var $xAxisTitleText = $("#xAxisTitleText");
	        var $yAxisTitleText = $("#yAxisTitleText");

	        $("#multipleXData").hide();
	        $("#dateXData").hide();

	        $chartTypeDrop.change(function () {
	            // if selecting BoxPlot, show proper drop downs
	            var val = parseInt($(this).val());

	            if (val == 1) {
	                $("#multipleXData").hide();
	                $("#dateXData").show();
	            } else if (val == 2) {
	                $("#multipleXData").show();
	                $("#dateXData").hide();
	            } else if (val == 3) {
	                $("#multipleXData").hide();
	                $("#dateXData").show();
	            } else if (val == 4) {
	                $("#multipleXData").hide();
	                $("#dateXData").show();
	            } else {
	                $("#multipleXData").hide();
	                $("#dateXData").hide();
	            }
	        });

	        $("#startDateText").datepicker();
	        $("#endDateText").datepicker();

	        function setHospitalId() {
	            var lastCol = 105;

	            var title_html = '';

	            _.each(csvArray, function (item) {
	                var num = item[lastCol];
	                var inList = $.inArray(num, allHids);
	                if (inList == -1) {
	                    allHids.push(num);

	                    if (parseInt(num))
	                        title_html += '<option value="' + num + '">' + num + '</option>';
	                    else
	                        console.log("ERROR! Data Missing Hospital ID");
	                }
	            });
	            title_html = '<option value="0">I Do Not Know</option>' + title_html;

	            $("#hidSelect").html(title_html);

	            $("#select-hid-row").show();
	        }

	        $("#hidSelect").change(function () {
	            // hospitalID Select Change Handler --- Possibly Create submit button to prevent accidental change
	            // -    Set Global Hospital ID  
	            // -	Create Local and Regional Charts

	            global_hid = parseInt($(this).val());

	            $(".chartDiv").empty();

	            var X_COL_MULT = [];
	            var X_COL = 1;      // Validate 1 = index of 'Date of Audit' column of CSV
	            var Y_COL = 77;     // Validate 77 = index of 'Length of Stay' column of CSV
	            var HID_COL = 105;      // Validate 105 = index of 'Hospital ID' column of CSV

	            // After Confirming Hospital ID and Date Column
	            // Sort CSV by Date and Hospital ID
	            csvArray.sort(dynamicSortMultiple([X_COL, HID_COL]));

	            var END_DATE = new Date();
	            var START_DATE = new Date();
	            START_DATE.setMonth(START_DATE.getMonth() - 6);

	            // Local Report - Draw Avg Length of Stay vs Time - Run Chart
	            drawRunChart(customizeCSVData(1, Y_COL, X_COL, HID_COL, START_DATE, END_DATE),
                             { yAxis: "Length of Stay (# of days)", xAxis: "Date", chartTitle: "Length of Stay vs Time - Run Chart (6 mo.)" },
                             width / 2 - margin.left - margin.right,
                             height / 2 - margin.top - margin.bottom,
                             "div#localChartDiv1");

	            Y_COL = 63;     // Validate 63 = index of 'Receiving Pharmacology Treatment' column of CSV
	            X_COL = 1;      // Validate 1 = index of 'Date of Audit' column of CSV

	            // Local Report - Draw % Patients Receiving Pharmacology Treatment - Funnel Plot
	            drawFunnelPlot(customizeCSVData(3, Y_COL, X_COL, HID_COL, START_DATE, END_DATE),
                             { yAxis: "Receiving Pharmacology Treatment (%)", xAxis: "Population", chartTitle: "% Patients That Receive Pharmacology Treatment - Funnel Plot (All History)" },
                             (2 * width / 3) - margin.left - margin.right,
                             (2 * height / 3) - margin.top - margin.bottom,
                             "div#localChartDiv2");

	            Y_COL = 49;     // Validate 49 = index of 'Receive mothers own milk' column of CSV
	            X_COL = 1;      // Validate 1 = index of 'Date of Audit' column of CSV

	            // Local Report - Draw % Patients Receiving Breast Milk - Funnel Plot
	            drawFunnelPlot(customizeCSVData(3, Y_COL, X_COL, HID_COL, START_DATE, END_DATE),
                             { yAxis: "Receiving Breast Milk (%)", xAxis: "Population", chartTitle: "% Patients That Receive Breast Milk (during hospitalization) - Funnel Plot (All History)" },
                             (2 * width / 3) - margin.left - margin.right,
                             (2 * height / 3) - margin.top - margin.bottom,
                             "div#localChartDiv3");

	            Y_COL = 77;      // Validate 77 = index of 'Length of Stay' column of CSV
	            X_COL_MULT = [51, 52, 53, 54, 55, 56, 57];  // Validate 51-57 = index of 'Formula choices' columns of CSV
	            //X_COL_MULT = [51, 52, 53, 54, 55, 56];  // Validate 51-57 = index of 'Formula choices' columns of CSV

	            // Local Report - Draw Length of Stay vs Feeding Method - Box and Whisker Plot
	            drawBoxPlot(customizeCSVData(2, Y_COL, X_COL_MULT, HID_COL, START_DATE, END_DATE),
                             { yAxis: "Length of Stay (days)", xAxis: "Feeding Method", chartTitle: "Average Length of Stay vs Feeding Method" },
                             (2 * width / 3) - margin.left - margin.right,
                             (2 * height / 3) - margin.top - margin.bottom,
                             "div#localChartDiv4");

	            Y_COL = 77;     // Validate 77 = index of 'Length of Stay' column of CSV
	            X_COL = 1;      // Validate 1 = index of 'Date of Audit' column of CSV

	            // Regional Report - Draw Avg Length of Stay vs Time - Run Chart
	            drawRunChart(customizeCSVData(1, Y_COL, X_COL, [HID_COL], START_DATE, END_DATE),
                             { yAxis: "Length of Stay (# of days)", xAxis: "Date", chartTitle: "Length of Stay vs Time - Run Chart (6 mo.)" },
                             width - margin.left - margin.right,
                             (2 * height / 3) - margin.top - margin.bottom,
                             "div#regionChartDiv1");

	            Y_COL = 49;     // Validate 49 = index of 'Receive mothers own milk' column of CSV
	            X_COL = 1;      // Validate 1 = index of 'Date of Audit' column of CSV

	            // Regional Report - Draw % Patients Receiving Breast Milk - Bar Chart 
	            drawBarChart(customizeCSVData(4, Y_COL, X_COL, HID_COL, START_DATE, END_DATE),
                             { yAxis: "Receiving Breast Milk (%)", xAxis: "Date", chartTitle: "% Patients Receiving Breast Milk - Bar Chart (6 mo.)" },
                             width - margin.left - margin.right,
                             (2 * height / 3) - margin.top - margin.bottom,
                             "div#regionChartDiv2");

	            $("ul.nav li:nth-child(2)").click();
	        });

	        // Convert CSV data from fileupload to javascript object array
	        $("#csvfile").change(function (e) {
	            if (e.target.files != undefined) {
	                var reader = new FileReader();

	                reader.onload = function (e) {
	                    var str = e.target.result;
	                    csvArray = [];
	                    csvArray = d3.csv.parseRows(str);

	                    titles = csvArray[0];
	                    csvArray.splice(0, 1);      // Remove labels from csv data set

	                    // Add all CSV Column Names to DropDown menus
	                    var title_html = '';
	                    _.each(titles, function (item, i) {
	                        title_html += '<option value="' + i + '">' + item + '</option>';
	                    });
	                    title_html = '<option value="">Select One</option>' + title_html;

	                    $(".dataDrop").html(title_html);

	                    setHospitalId();
	                };

	                reader.readAsText(e.target.files.item(0));
	            }
	        });

	        // Customize CSV Submit Button Handler
	        $("#submitBtn").click(function (e) {
	            e.preventDefault();

	            var chartType = parseInt($chartTypeDrop.val());
	            $chartDiv.empty();

	            if (chartType == 1) {           // Draw Run Chart
	                var dataset = [];

	                //var Y_COL = $yDataDrop.val();
	                //var X_COL = $xDataDrop.val();
	                var X_COL = 1;
	                var Y_COL = 77;

	                var avg_sum = 0;
	                var variance_sum = 0;

	                _.each(csvArray, function (item, i) {
	                    var num = parseInt(item[Y_COL]);
	                    var dte = item[X_COL];

	                    if ((num !== '') && (typeof num !== "undefined") && (dte !== '') && (typeof dte !== "undefined")) {
	                        var dataObj = { date: dte, val: num };
	                        dataset.push(dataObj);

	                        avg_sum = avg_sum + num;
	                    }
	                });

	                //var avg = _.reduce(dataset, function (memo, ob) { return memo + ob['val']; }) / dataset.length;
	                var avg = avg_sum / dataset.length;

	                //var variance = _.reduce(dataset, function (memo, ob) {
	                //    return ((ob['val'] - avg) * (ob['val'] - avg)) + memo;
	                //}) / dataset.length;

	                _.each(dataset, function (o, i) {
	                    variance_sum = variance_sum + ((o.val - avg) * (o.val - avg));
	                });

	                var variance = variance_sum / dataset.length;

	                var stdev = Math.sqrt(variance);

	                //var avg = calcAvg(dataset);
	                //var stdev = calcStDev(dataset);
	                var ucl = avg + (3 * stdev);
	                var lcl = avg - (3 * stdev);
	                if (lcl < 0) lcl = 0;

	                // Sort data by date
	                //console.log("dataset (before sorting) = ", dataset);
	                dataset = _.sortBy(dataset, function (o) { var dt = new Date(o.date); return dt; });

	                var labelObj = { yAxis: $yAxisTitleText.val(), xAxis: $xAxisTitleText.val(), chartTitle: $chartTitleText.val() };

	                drawRunChart(dataset, ucl, lcl, labelObj);
	                console.log("dataset = ", dataset);
	                //console.log("avg = ", avg);
	                //console.log("ucl = ", ucl);
	                //console.log("lcl = ", lcl);
	                //console.log("variance = ", variance);
	                //console.log("stdev = ", stdev);

	            } else if (chartType == 2) {    // Draw Box Plot 
	                var dataset = [];

	                // Get Selected Parameters
	                var Y_COL = $yDataDrop.val();
	                var X_COL = $xDataDrop2.val();

	                _.each(X_COL, function (item, i) {
	                    // Create X-Axis Label
	                    var labelText = $xDataDrop2.find("option[value='" + item + "']").text();
	                    var labelTextArr = labelText.split(/\(choice=(.*)\)/);
	                    labelText = labelTextArr[1];

	                    // Format dataset
	                    dataset[i] = [];
	                    dataset[i][0] = labelText;
	                    dataset[i][1] = [];
	                });

	                var max = -Infinity;
	                var min = Infinity;

	                // format data
	                _.each(csvArray, function (item, i) {
	                    var num = parseInt(item[Y_COL]);
	                    if ((num !== '') && (typeof num !== "undefined")) {
	                        _.each(X_COL, function (header, i) {
	                            if (item[header] == "Checked") {
	                                dataset[i][1].push(num);
	                                if (num > max) max = num;
	                                if (num < min) min = num;
	                            }
	                        });
	                    }
	                });
	                //console.log("dataset = ", dataset);

	                // Need a better way to define X- and Y- axis labels
	                //var titleObj = { yAxis: $yDataDrop.find("option[value='" + Y_COL + "']").text(), xAxis: $xDataDrop2.find("option[value='" + X_COL[0] + "']").text() };
	                var titleObj = { yAxis: $yAxisTitleText.val(), xAxis: $xAxisTitleText.val(), chartTitle: $chartTitleText.val() };

	                drawBoxPlot(dataset, min, max, titleObj);

	                var chartHeight = $chartDiv.height();
	                $body.height(bodyHeight + (chartHeight / 2));

	            } else if (chartType == 3) {	// Draw Funnel Plot 
	                var funnelData = [];

	                //var Y_COL = $yDataDrop.val();
	                //var X_COL = $xDataDrop.val();
	                var Y_COL = 63;
	                var X_COL = 1;

	                var total_population = 0;
	                var incidence_population = 0;
	                var sample_size = 0;
	                var incidences = 0;

	                // sort csv by date
	                csvArray = _.sortBy(csvArray, function (item, i) { var dt = new Date(item[X_COL]); return dt; });

	                var jsFirstDate = new Date(csvArray[0][X_COL]);
	                var firstDate = (jsFirstDate.getMonth() + 1) + "/" + jsFirstDate.getFullYear();

	                funnelData[0] = { sample_size: 0, indicator: 0, date: firstDate, ratio: 0 };

	                _.each(csvArray, function (item, i) {
	                    var indicator = item[Y_COL];
	                    var jsDate = new Date(item[X_COL]);
	                    var dte = (jsDate.getMonth() + 1) + "/" + jsDate.getFullYear();
	                    var size = funnelData.length;

	                    if ((indicator !== '') && (typeof indicator !== "undefined") && (jsDate !== '') && (typeof jsDate !== "undefined")) {
	                        if (dte == funnelData[size - 1].date) {
	                            sample_size++;
	                            total_population++;
	                            if (indicator == "Yes") {
	                                incidences++;
	                                incidence_population++;
	                            }
	                        }
	                        else {
	                            funnelData[size - 1].sample_size = sample_size;
	                            funnelData[size - 1].indicator = incidences;
	                            funnelData[size - 1].ratio = incidences / sample_size;

	                            sample_size = 1;
	                            incidences = 0;
	                            funnelData.push({ sample_size: 0, indicator: 0, date: dte, ratio: 0 });

	                            if (indicator == "Yes") {
	                                incidences++;
	                                incidence_population++;
	                            }
	                            total_population++;
	                        }
	                    }
	                });

	                var size = funnelData.length;

	                funnelData[size - 1].sample_size = sample_size;
	                funnelData[size - 1].indicator = incidences;
	                funnelData[size - 1].ratio = incidences / sample_size;

	                console.log("funnelData (before calculating control limits) = ", funnelData);

	                // Calculate mean incidence over entire population
	                var mean_incidence_rate = incidence_population / total_population;
	                var mean_incidence = incidence_population / size;

	                var sigma_squared = mean_incidence_rate * (1 - mean_incidence_rate);

	                // Create Alphabetical List of Labels
	                var sorted_names = [];
	                _.each(funnelData, function (item) {
	                    sorted_names.push(item["date"]);
	                });
	                //sorted_names.sort();

	                // Sorts dataset by population size for drawing confidence intervals
	                funnelData.sort(compare);

	                // Calculate standard error for each value: SE = SD / sqrt(n)
	                //  ---Creating Control Limits/Confidence Intervals
	                _.each(funnelData, function (item) {
	                    item['std_error'] = Math.sqrt(sigma_squared / item['sample_size']);
	                    item['plus_2sd'] = mean_incidence_rate + (2 * item['std_error']);
	                    item['minus_2sd'] = mean_incidence_rate - (2 * item['std_error']);
	                    item['plus_3sd'] = mean_incidence_rate + (3 * item['std_error']);
	                    item['minus_3sd'] = mean_incidence_rate - (3 * item['std_error']);
	                });
	                console.log("funnelData (after calculating control limits) = ", funnelData);

	                var titleObj = { yAxis: $yAxisTitleText.val(), xAxis: $xAxisTitleText.val(), chartTitle: $chartTitleText.val() };

	                drawFunnelPlot(funnelData, sorted_names, mean_incidence_rate, titleObj);
	            } else if (chartType == 4) {    // Draw Bar Chart
	                var barData = [];

	                //var Y_COL = $yDataDrop.val();
	                //var X_COL = $xDataDrop.val();
	                var Y_COL = 63;         // If Infant Received Pharm treatment 
	                var X_COL = 1;          // Date
	                var HID_COL = 105;      // Hospital ID column
	                var YEAR = 2014;      // Date Range
	                //var byMonth = true;
	                //var START_DATE = new Date("2014-01-01");      // Date Range
	                //var END_DATE = new Date("2014-12-31");      // Date Range

	                var startDateText = $("#startDateText").val();
	                var endDateText = $("#endDateText").val();
	                var byMonth = true;

	                if ($("#yearRadio:checked").length > 0)
	                    byMonth = false;

	                //var START_DATE = new Date("2011-01-01");      // Date Range
	                //var END_DATE = new Date("2015-12-31");      // Date Range
	                var START_DATE = new Date(startDateText);      // Date Range
	                var END_DATE = new Date(endDateText);      // Date Range

	                /*
	                var incidences = 0;
	                var sample_size = 0;
	                var id = 0;
	                var hospitalLabels = [];
	                */

	                // Sort CSV by Hospital ID and Time
	                //csvArray.sort(dynamicSortMultiple([HID_COL, X_COL]));
	                // Sort CSV by Time and Hospital ID
	                csvArray.sort(dynamicSortMultiple([X_COL, HID_COL]));
	                console.log("sorted csvArray", csvArray);

	                /*
	                var jsFirstDate = new Date(csvArray[0][X_COL]);
	                var firstDate = (jsFirstDate.getMonth() + 1) + "/" + jsFirstDate.getFullYear();
	                id = csvArray[0][HID_COL];
	                hospitalLabels.push(id);

	                barData[0] = { sample_size: 0, indicator: 0, date: firstDate, ratio: 0, hid: id };
	                */

	                var idLabels = [];    // d.State
	                var dateLabels = [];    // d.State
	                //var testData = {};
	                var testData2 = [];

	                // Need to get each month (and possibly year) between START_DATE and END_DATE

	                var startMonth = START_DATE.getMonth() + 1;
	                var endMonth = END_DATE.getMonth() + 1;
	                var startYear = START_DATE.getFullYear();
	                var endYear = END_DATE.getFullYear();

	                for (startYear; startYear <= endYear; startYear++) {
	                    if (byMonth) {
	                        if (startYear < endYear) {
	                            for (startMonth; startMonth <= 12; startMonth++) {
	                                var dateStr = startMonth + "/" + startYear;
	                                dateLabels.push(dateStr);
	                                //testData[dateStr] = {};

	                                testData2.push({ date: dateStr, hospitals: [] });
	                            }
	                            startMonth = 1;
	                        } else if (startYear == endYear) {
	                            for (startMonth; startMonth <= endMonth; startMonth++) {
	                                var dateStr = startMonth + "/" + startYear;
	                                dateLabels.push(dateStr);
	                                //testData[dateStr] = {};

	                                testData2.push({ date: dateStr, hospitals: [] });
	                            }
	                        } else { }
	                    } else {
	                        var dateStr = startYear;
	                        dateLabels.push(dateStr);
	                        testData2.push({ date: dateStr, hospitals: [] });
	                    }
	                }
	                //console.log("testData = ", testData);

	                _.each(csvArray, function (item, i) {
	                    var item_date = new Date(item[X_COL]);
	                    var item_id = item[HID_COL];

	                    if (item_date > START_DATE && item_date < END_DATE && typeof item_id !== "undefined" && item_id !== '') {
	                        if (byMonth)
	                            item_date = DateToString(item_date);
	                        else
	                            item_date = item_date.getFullYear();

	                        var newId = $.inArray(item_id, idLabels);
	                        if (newId == -1) {
	                            idLabels.push(item_id);
	                            //barData[barData.length - 1].values[newId][0]
	                            //testData[item_date][2]++;
	                            //if (item[Y_COL] === "Yes") testData[item_date][0]++;
	                            /*
	                            testData[item_date][item_id] = {
	                            sample_size: 0,
	                            indicator: 0,
	                            ratio: 0
	                            }
	                            */
	                            for (var i = 0; i < dateLabels.length; i++) {

	                                //testData[dateLabels[i]][item_id] = {
	                                //    indicator: 0,
	                                //    sample_size: 0,
	                                //    ratio: 0,
	                                //    date: dateLabels[i],
	                                //    hid: item_id
	                                //};

	                                //testData[i][1].indicator = 0;
	                                //testData[i][1].push([item_id, []]);

	                                testData2[i].hospitals.push({
	                                    hid: item_id,
	                                    date: dateLabels[i],
	                                    indicator: 0,
	                                    sample_size: 0,
	                                    ratio: 0
	                                });
	                            }

	                        }

	                        //testData[item_date][item_id].sample_size++;

	                        var newDate = $.inArray(item_date, dateLabels);
	                        newId = $.inArray(item_id, idLabels);

	                        //console.log("newDate = ", newDate);
	                        //console.log("newId = ", newId);
	                        //console.log("testData2 = ", testData2);
	                        if (newDate !== -1 && newId !== -1) {
	                            //if (item[Y_COL] == "Yes") testData2[newDate][item_id].indicator++;
	                            testData2[newDate].hospitals[newId].sample_size++;
	                            if (item[Y_COL] == "Yes") testData2[newDate].hospitals[newId].indicator++;
	                        }


	                        /*
	                        var newDate = $.inArray(item_date, dateLabels);

	                        if (newDate == -1) {
	                        dateLabels.push(item_date);
	                        //barData.push({
	                        //    date: (item_date.getMonth() + 1) + "/" + item_date.getFullYear(),
	                        //    values: [[]]     // [[]]
	                        //    // [hopsitalIds][3] 
	                        //    // [indicator, ratio, sample_size]
	                        //});
	                        //testData[item_date] = {};
	                        //for (var i = 0; i < idLabels.length; i++)
	                        //    barData[barData.length - 1].values[i][2] = 0;
	                        }

	                        if (typeof testData[item_date][item_id] == 'object') {
	                        testData[item_date][item_id].sample_size++;
	                        if (item[Y_COL] === "Yes") testData[item_date][item_id].indicator++;
	                        } else {
	                        testData[item_date][item_id] = {
	                        sample_size: 0,
	                        indicator: 0,
	                        ratio: 0
	                        }
	                        }
	                        */
	                    }
	                });

	                var maxRatio = 0;

	                //_.each(testData, function (item) {
	                //    for (var i = 0; i < idLabels.length; i++) {
	                //        var hospItem = item[idLabels[i]];
	                //        if (hospItem.sample_size !== 0) {
	                //            var ratio = hospItem.indicator / hospItem.sample_size;
	                //            hospItem.ratio = ratio;

	                //            if (ratio > maxRatio) maxRatio = ratio;
	                //        }
	                //    }
	                //});

	                _.each(testData2, function (item) {
	                    var hospItems = item.hospitals;

	                    for (var i = 0; i < idLabels.length; i++) {
	                        if (hospItems[i].sample_size !== 0) {
	                            var ratio = (hospItems[i].indicator / hospItems[i].sample_size) * 100;
	                            hospItems[i].ratio = ratio;

	                            if (ratio > maxRatio) maxRatio = ratio;
	                        }
	                    }
	                });

	                //testData.hospLabels = idLabels;
	                //testData.dateLabels = dateLabels;

	                console.log("idLabels = ", idLabels);
	                console.log("dateLabels = ", dateLabels);
	                //console.log("testData = ", testData);
	                console.log("testData2 = ", testData2);

	                /*
	                _.each(csvArray, function (item, i) {
	                var indicator = item[Y_COL];        // Possibly parseInt or parseFloat
	                var jsDate = new Date(item[X_COL]);
	                var dte = (jsDate.getMonth() + 1) + "/" + jsDate.getFullYear();
	                var itemID = item[HID_COL];
	                var size = barData.length;

	                if ((indicator !== '') && (typeof indicator !== "undefined") && (jsDate !== '') && (typeof jsDate !== "undefined") && (jsDate.getFullYear() == YEAR)) {
	                if ((dte == barData[size - 1].date) && (id == itemID)) {
	                sample_size++;
	                //total_population++;
	                if (indicator == "Yes") {
	                incidences++;
	                //incidence_population++;
	                }
	                }
	                else {
	                barData[size - 1].sample_size = sample_size;
	                barData[size - 1].indicator = incidences;
	                barData[size - 1].ratio = (incidences / sample_size) * 100;
	                //barData[size - 1].hid = id;

	                if (itemID !== id) hospitalLabels.push(itemID);

	                sample_size = 1;
	                incidences = 0;
	                id = itemID;
	                barData.push({ sample_size: 0, indicator: 0, date: dte, ratio: 0, hid: id });

	                if (indicator == "Yes") {
	                incidences++;
	                //incidence_population++;
	                }
	                //total_population++;
	                }
	                }
	                });

	                var size = barData.length;

	                barData[size - 1].sample_size = sample_size;
	                barData[size - 1].indicator = incidences;
	                barData[size - 1].ratio = incidences / sample_size;

	                var zeroDate = barData[0].date;
	                if (zeroDate.substr(zeroDate.length - 4, 4) !== YEAR.toString())
	                barData.splice(0, 1);

	                //_.sortBy(barData, function (item) { return item.date; });

	                console.log("barData = ", barData);

	                var testData = [];

	                testData[0] = [];
	                testData[0][0] = "Date";
	                testData[0][1] = [];

	                _.each(hospitalLabels, function (item, i) {
	                // Format dataset
	                testData[i + 1] = [];
	                testData[i + 1][0] = item;
	                testData[i + 1][1] = [];
	                });

	                _.each(barData, function (item, i) {
	                });

	                */

	                var titleObj = { yAxis: $yAxisTitleText.val(), xAxis: $xAxisTitleText.val(), chartTitle: $chartTitleText.val() };

	                drawBarChart(testData2, maxRatio, dateLabels, idLabels, titleObj);
	            }
	        });

	    });
	</script>
    </body>
</html>
