@{
    ViewBag.Title = "Substances";
}

<div class="container" style="margin-bottom: 10px;">
    <h2>
        @ViewBag.Message
    </h2>
    <h4>
        <a href="/Home/Substances/">Click Here To Go Back.</a>
    </h4>
</div>