@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="margin-bottom: 10px;">
    <form method="POST" action="AddSubstances">
        <h4>Substances</h4>
        <table class="table table-hover">
            <tr>
                <td>Substance ID</td>
                <td><input type="text" class="form-control disabled" disabled /></td>
            </tr>
            <tr>
                <td>Substance Name</td>
                <td><input type="text" name="subNameText" class="form-control" maxlength="50" /></td>
            </tr>
        </table>
        <button class="form-control" name="newSubBtn">Submit Form</button>
    </form>
</div>